<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Supermarket.Properties.Settings.DatabaseConnectionString"
            connectionString="&quot;Data Source=DESKTOP-M15F5BI\MSSQLSERVER_OLAP;Initial Catalog=smarketdb;Integrated Security=True&quot;" />
    </connectionStrings>
</configuration>